In [3]:
import seaborn as sns
import pandas as pd

# Erstelle ein Jupyter Notebook in deinem lokalen Repository, und importiere den csv-Datensatz.
# Entferne die Spalte cabin. Entferne alle Zeilen in der mindestens ein NaN Wert liegt.
# Speichere den bereinigten Datensatz in einer neuen csv Datei "ohne_fehlende_werte.csv".

In [8]:
df = pd.read_csv("titanic.csv")
df.head(1)

,Unnamed: 0,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,0,3,male,22.0,1,0,7.25,S,Third,man,True,NaN,Southampton,no,False

In [20]:
df1 = df.drop(columns="deck").dropna() # es gab keine spalte cabin?
df1 = pd.DataFrame(df1)

In [21]:
df1.to_csv("ohne_fehlende_werte.csv")